@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0092ca;
  --color-secondary: #059669;
  --color-tertiary: #818386;
  --color-red: #ff434b;

  --color-white: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #f1f1f1;
  --color-gray-300: #ececec;
  --color-gray-400: #e2e2e2;
  --color-gray-500: #cccccc;
  --color-gray-600: #a5a8ad;
  --color-gray-700: #818386;
  --color-gray-800: #565758;
  --color-black: #000000;

  --color-text-primary: #262728;
  --color-text-secondary: #818386;
  --color-text-dark-primary: #ffffff;
  --color-text-dark-secondary: #e2e2e2;
}

@layer base {
  body {
    @apply font-sans;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'] {
  @apply text-text-primary px-4 py-2 rounded-lg text-base leading-[1.4] font-medium border border-gray-500;
  @apply focus:outline-none focus:ring-1 focus:ring-primary focus:border-transparent;
}
